<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- add APlayer mini -->
<!-- require APlayer -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
<!-- require MetingJS -->

<!-- meting.min.js 
改用本地js文件 在includes/scripts.html中引入
Meting.min.js中的api接口可能暂时失效了，我们可以通过替换的方式修复这个问题。
使用编辑器进入Meting.min.js文件，查找下面的链接 https://api.i-meto.com/meting/api
将它替换为下面的链接 https://api.injahow.cn/meting/
-->  

<script src="{{ '/assets/js/meting.min.js' | relative_url }}"></script>






<!--
<script src="https://cdn.bootcss.com/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>
<script>
  // 对所有链接跳转事件绑定pjax容器container
  $(document).pjax('a[target!=_blank]', '#pageContent', {fragment: '#pageContent', timeout:8000})
</script> 

-->
    
<!-- add live2d framework -->
<script src="/live2dw/lib/L2Dwidget.min.js?094cbace49a39548bed64abff5988b05"></script>
<script>L2Dwidget.init({"pluginRootPath":"live2dw/","pluginJsPath":"lib/","pluginModelPath":"assets/","tagMode":false,"debug":false,"model":{"jsonPath":"/live2dw/assets/wanko.model.json"},"display":{"position":"right","width":150,"height":300},"mobile":{"show":true},"log":false});</script>

<!-- end custom head snippets -->
